<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zukexing.app">
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.租客行"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.dashboard.OrderDetailActivity"></activity>
        <activity android:name=".ui.dashboard.OrderActivity" />
        <activity android:name=".ui.home.PayDoneActivity" />
        <activity android:name=".ui.home.PayActivity" />
        <activity android:name=".ui.home.PostOrderActivity" />
        <activity android:name=".ui.mine.VerifiedActivity" />
        <activity android:name=".ui.mine.UserNickActivity" />
        <activity android:name=".ui.mine.UserInfoActivity" />
        <activity android:name=".ui.mine.SettingActivity" />
        <activity android:name=".ui.login.VerifyActivity" />
        <activity android:name=".ui.login.WebviewActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.home.HouseDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>